# Configuración de URLs
TARGET_URL=https://www.pragma.co/es/

# Configuración del navegador
HEADLESS_MODE=true
BROWSER_TIMEOUT=30

# Configuración de reportes
ALLURE_RESULTS_DIR=allure-results
SCREENSHOT_DIR=screenshots

# Configuración de testing
IMPLICIT_WAIT=10
EXPLICIT_WAIT=20